@model IEnumerable<MvcCoreDepartamentos.Models.Departamento>
@section style{
    <style>
        table {
            margin: auto;
            width: 70%;
            text-align: center
        }

        h4 {
            text-align: center
        }
    </style>
}

<h1>Departamentos Entity Framework</h1>
@if(Model != null){
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dept_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dept_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidad)
            </td>
            <td>
                <a asp-action="Update" asp-route-dept_no="@item.Dept_No" class="btn btn-outline-secondary">Modificar</a> 
                <a asp-action="Details" asp-route-dept_no="@item.Dept_No" class="btn btn-outline-dark">Detalles</a>
                <a asp-action="Delete" asp-route-dept_no="@item.Dept_No" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
}
else
{
    <h4>@ViewBag.Mensaje</h4>
}